{% extends "partials/copyright.html" %}

{% block copyright %}
    {{ super() }}
    
    <br>
    
    <span id="busuanzi_container_site_pv" style="display:none">
        👀 本站总访问量 
        <span id="busuanzi_value_site_pv" style="font-weight: bold;"></span> 次
    </span>
    
    <span id="busuanzi_container_site_uv" style="display:none">
        | 🙋‍♂️ 总访客数 
        <span id="busuanzi_value_site_uv" style="font-weight: bold;"></span> 人
    </span>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endblock %}